.git/
.gitignore
.gcloudignore

# Node
node_modules/

# Next.js build cache & output
.next/
out/

# Env files (secrets)
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
*.swp
.vscode/
.idea/

# Logs
*.log
firebase-debug.log
firebase-debug.*.log

# Test/coverage
coverage/

# Misc
*.tsbuildinfo
